<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">

    <nav>
      <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}public/exaile.png"></a>
      <h3>
        <span id="play">Play It. Enjoy It.</span><br/>
        Exaile
      </h3>

      <ul>
        {% for n in site.menu %}
          <li><a href="{{ n[1] }}">{{ n[0] }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="clear"></div>

<!--
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
-->
      

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
