<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
    <nav>
      <a href="{{ "/" | relative_url }}"><img src="{{ "/public/exaile.png" | relative_url }}"></a>
      <h3>
        <span id="play">Play It. Enjoy It.</span><br/>
        Exaile
      </h3>

      <ul>
        {% for n in site.menu %}
          <li><a href="{{ n[1] }}">{{ n[0] }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="clear"></div>
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
